
.logo{
    width: 75px;
    height: 150px;
}
.branco{
    background-color: white;
    margin-left: auto;
}
body{
    background-color: #acafd2;
    font-size: 24;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.texto{
    text-align: left;
    text-align: justify;
}
.espacamento{
    margin-top: 50px;
    background-color: #494EA2;
}
.texto{
    text-align: center;
    color: #494EA2;
    
}
.link{
    color: blue;
}
#index_tamanho{
    background-color: #eee;
    margin-top: 100px;
    margin-left: 50px;
    height: 50vh;
    width: 60vw;
    border: 2px solid #dddddd;
    border-radius: 25px 20px;

}
#tamanho{
    background-color: #eee;
    margin-top: 100px;
    margin-left: 50px;
    height: 70vh;
    width: 60vw;
    border: 2px solid #dddddd;
    border-radius: 25px 20px;
}
